<div class="section">
  <h2 class="section-title">Amit 2 percben tudnia kell</h2>

  {{#each biggest_gaps}}
  <div class="layman-card">
    <h3 class="layman-card-title">🟡 {{this}}</h3>
  </div>
  {{/each}}
</div>
